<html>

<head>
    <title>Home</title>
</head>
<div class="center">
    <h1>To Do App</h1>
</div>
<div class="center">
    <h3>Welcome !! Ankit</h3>
</div>
<div class="center">
   <!---- <button  routerLink="/mytasks"></button>My Tasks</button> -->
</div>
<div class="buttons" style="margin-top: 2%;">

    <br><br>
    <div class="center">
        <form action="/addtask" method="POST">
            <input type="text" [(ngModel)]="task" name="task" placeholder="Enter Task" required>
            <br><br>

            <br>
            <div class="center">
                <input type="submit" (click)="addTask()" name="submit" value="Add Task">
            </div>
            <br><br>

            <br><br><br><br>
            <div class="center">
                <button style="color: black;" onclick="window.location='/logout'">Logout</button>
            </div>
        </form>
    </div>
</div>

<div class="center">
    <button routerLink='/login'>Login</button>
</div>

</html>
<style>
    * {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    }

    body,
    html {
        height: 100%;

    }

    .center {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    input {

        font-size: 24px;
    }

    button {
        font-size: 24px;
    }
</style>